* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(320deg, #D50000, #E65100, #FFFF00);
    background-size: cover;
    background-attachment: fixed;
}

h4 {
    font-family: 'Century Gothic';
    font-style: initial;
    font-size: 30px;
    font-weight: 600;
    color: black;
    text-align: center;
}

.navbar-expand-lg {
    background-color: #262626;
}

.navbar-brand, span {
    font-family: 'Century Gothic';
    color: #FFD600;
    font-weight: 600;
    text-align: left;
}

.btn-outline-warning {
    border-style: groove;
    border-color: #FFD600;
    border-radius: 7px;
    font-family: 'Century Gothic';
    font-style: initial;
    font-size: 16px;
    font-weight: 600;
    color: #FFD600;
    text-align: center;
}

.btn-outline-warning:hover {
    border-style: groove;
    border-color: #FFD600;
    border-radius: 7px; 
    background: linear-gradient(320deg, #D50000, #E65100, #FFFF00);
    color: black;
    font-family: 'Century Gothic';
    font-style: initial;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    cursor: pointer;
}

.bi-backspace {
    margin-right: 10px;
}

.bi-share-fill {
    margin-right: 10px;
}

.developer-icon {
    width: 200px;
    margin-bottom: 25px;
}

h5 {
    font-family: 'Century Gothic';
    font-style: initial;
    font-weight: 600;
    color: #000000;
    text-align: justify;
}

.card-title, h5 {
    font-family: 'Century Gothic';
    font-style: initial;
    font-size: 19px;
    font-weight: 600;
    color: #000000;
    text-align: center;
}

.card-text, p {
    font-family: 'Century Gothic';
    font-style: initial;
    color: #000000;
    text-align: justify;
}